  @media  screen and (min-width: 1200px){
  #respuestaIncorrecta{
    font-size: 22px;
  }
  #buttonInfo{
    width: 10%;
    padding: 0px;    
  }
  #tamanioButton{
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #lineMargin{
    margin-top: 45px;
  }
  .tittle{
    font-size: 20px;
  }
  .textinfo{
    font-size: 20px;
  }
  .content-text{
    font-size: 18px;
  }
  .content-textInfo{
    font-size: 18px;
  }
  }
  @media  screen and (max-width: 1200px){
    #respuestaIncorrecta{
      font-size: 22px;
    }

    #buttonInfo{
      width: 15%;
      padding: 0px;    
    }
    #tamanioButton{
      padding: 0px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    #lineMargin{
      margin-top: 45px;
    }
    .tittle{
      font-size: 20px;
    }
    .content-text{
      font-size: 18px;
    }
    .textinfo{
      font-size: 20px;
    }
    .content-textInfo{
      font-size: 18px;
    }
  }
  @media  screen and (max-width: 992px){
    #respuestaIncorrecta{
      font-size: 22px;
    }
    #buttonInfo{
      width: 15%;
      padding: 0px;    
    }
    #tamanioButton{
      padding: 0px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    #lineMargin{
      margin-top: 45px;
    }
    .tittle{
      font-size: 20px;
    }
    .content-text{
      font-size: 18px;
    }
    .textinfo{
      font-size: 20px;
    }
    .content-textInfo{
      font-size: 18px;
    }
    #redes{
      display:block;
    }
  }
  @media  screen and (max-width: 768px){
    #respuestaIncorrecta{
      font-size: 15px;
    }
    
    #buttonInfo{
      width: 15%;
      padding: 0px;    
    }
    #tamanioButton{
      padding: 0px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    #lineMargin{
      margin-top: 39px;
      margin: 15px 0;
    }
    .tittle{
      font-size: 15px;
    }
    .content-text{
      font-size: 14px;
    }
    .textinfo{
      font-size: 20px;
    }
    .content-textInfo{
      font-size: 14px;
    }
    #redes{
      display:block;
    }
  }
  @media  screen and (max-width: 576px){
    #respuestaIncorrecta{
      font-size: 15px;
    }
    #imgCheckNot{
      width: 80%;
    }
    #buttonInfo{
      width: 20%;
      padding: 0px;    
    }
    #tamanioButton{
      padding: 0px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    #lineMargin{
      margin-top: 39px;
      margin: 15px;
    }
    .tittle{
      font-size: 12px;
    }
    .content-text{
      font-size: 11px;
    }
    .textinfo{
      font-size: 17px;
    }
    .content-textInfo{
      font-size: 11px;
    }
    #redes{
      display: none;
    }
  }
  /*Navbar*/
  #logo-button{
    color: rgb(240, 240, 240);
    padding-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
  }
  .nav-button-option-navbar{
    font-size: 22px;
    text-transform: capitalize;
    color: rgb(240, 240, 240);
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  .nav-button-option-navbar:hover, .nav-button-option-navbar:focus {
    background-color: rgba(240, 240, 240, 0.63);
    color: rgba(0, 123, 255, 0.856);
    text-decoration: none;
  }
  
  .nav-button-option-navbar.disabled {
    color: #6c757d;
  }
  .btn-Button-buscar-navbar {
    color: rgb(0, 123, 255);
    background-color: rgb(240, 240, 240);
    border-color: rgb(0, 123, 255);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
    font-size: 17px;
  }
  #body_confi{
    background-color: #D5D5D5;
    height: 100%;
  }
  #section{
    background-color: #D5D5D5;
  }
  .btn-Button-buscar-navbar:hover {
    color: rgb(240, 240, 240);
    background-color: rgb(0, 123, 255);
    border-color: rgb(240, 240, 240);
  }
  #Text-Busqueda-Producto{
    width: 80%;
    font-size: 15px;
  }
  #Option_config{
    margin-right: 75px;
  }
  /*Fin Navbar*/
  /*div informacion del la empresa o usuario*/

#div-class-option{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ul_conf{
  text-decoration: none;
  list-style-type: none;
  background-color: rgb(150, 150, 150);
  width: 97%;
  height: 97%;
  padding-left: 45px;
  margin-left: 5px;
  margin-top: 5px;
}
.UlConfModal{
  text-decoration: none;
  list-style-type: none;
  background-color: #237BCE;
  border-radius: 7px;
  width: 100%;
  padding-right: 10px;
  padding-left: 30px;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.57);
-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.57);
box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.57);
}
#ButtonGuardar{
  margin-top: 10px;
  font-size: 20px;
  border-radius: 7px;
}
.ul_conf:hover{
  background-color: rgb(175, 175, 175);
  width: 100%;
  height: 100%;
  padding-left: 39px;
  margin-left: 0px;
  padding-bottom: 20px;
  margin-top: 0px;
   
}

#ul-conf{
  margin-bottom: 0px;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  border-radius: 33px 7px 33px 7px;
  -moz-border-radius: 33px 7px 33px 7px;
  -webkit-border-radius: 33px 7px 33px 7px;
  border: 0px solid #363136;
}
#tittleModal{
  color: #fff;
}
#TittleModal{
  color: #fff;
  background-color: #237BCE;
  color: #fff;
  border-radius: 7px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
}
.btn-facebook{
  color: #fff;
  background-color: #4267B2;
  border-color: #4267B2;
}

.btn-facebookhover {
  color: #fff;
  background-color: rgb(55, 87, 150);
  border-color: rgb(55, 87, 150);
}

.btn-twitter{
  color: #fff;
  background-color: #1DA1F2;
  border-color: #1DA1F2;
}

.btn-twitter:hover {
  color: #fff;
  background-color: #1B95E0;
  border-color: #1B95E0;
}

.btn-instagram{
  color: #fff;
  background-color: #3897F0;
  border-color: #3897F0;
}

.btn-instagram:hover {
  color: #fff;
  background-color: rgba(56, 151, 240, 0.787);
  border-color: rgba(56, 151, 240, 0.787);
}

.boton_personalizado:hover{
  border: 2px solid rgba(11, 28, 44, 0.979);
}
/*fin div informacion del la empresa o usuario*/

/*modal contrase침a*/
.textContrasenias{
  width: 95%;
  margin-bottom: 15px;
  font-size: 15px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(18,18,18,1);
-moz-box-shadow: 7px 7px 5px 0px rgba(18,18,18,1);
box-shadow: 7px 7px 5px 0px rgba(18,18,18,1);
border-radius: 7px;
padding-left: 10px;
}
#contenidoRespuesta{
  margin-left: auto;
}
#respuestaCorrecta{
  font-size: 30px;
  color: rgb(13, 70, 24);
  font-weight: bold;
  text-transform: capitalize;
}
#respuestaIncorrecta{
  color: #C82333; 
  font-weight: bold;
  text-transform: capitalize;
}
#textContrase침aLocal{
  font-size: 20px;
  text-transform: uppercase;
}
#colorinfoUsuarioViejo{
  color: white;
}
/*final contase침a modal*/
/*Modal genero*/
.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}
.select-css option {
  font-weight:normal;
}



/*fin Modal genero*/
/* */
.cajastext{
  width: 95%;
  margin-bottom: 2px;
  font-size: 12px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(18,18,18,1);
-moz-box-shadow: 7px 7px 5px 0px rgba(18,18,18,1);
box-shadow: 7px 7px 5px 0px rgba(18,18,18,1);
border-radius: 7px;
padding-left: 10px;
}
.buttonModalTarjeta{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*section lateral*/
#rowGeneral{
  margin-left: 0px;
  margin-right: 0px;
}
#LateralButton{
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  margin-top: 4px;
}
.SizeFormLi{
  padding-top: 7.5px;
  padding-bottom: 7.5px;

}
.boton_personalizado{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 10px;
  color: #ffffff;
  background-color: #ffffff4f;
  border-radius: 6px;
  border: 2px solid rgba(56, 151, 240, 0.787);
}
#buttonInfo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.TextPrincipal{
  color: #007BFF;
  font-weight: 400;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.TextPrincipal:hover{
  color: rgb(93, 171, 255);
}
.TexSecundario{
  color: #175A83;
  font-weight: 400;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.TextSecundario:hover{
  color: rgb(93, 171, 255);
}
.line{
  border-top: 1px solid #007BFF;
  display: block;
  line-height: 1px;
  margin: 15px 0;
  position: relative;
  text-align: center;
  width: 90%;
}
.tittle{
  background-color: #007BFF;
  color: #fff;
  border-radius: 7px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
#text-lugar{
  border-radius: 7px;
}
.ceroPadding{
  padding-left: 0px;
  padding-right: 0px;
}
.imagenEditar{
  width: 100%;
}
/*fin section lateral*/
/*section Informatio*/
#Informaci칩n{
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  margin-top: 4px;
  border-top-left-radius: 10px;
  border: solid rgba(66, 66, 66, 0.404);
  padding-top: 20px;
}
.margenDivInfo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*fin section Informatio*/
/*google maps*/
#centerGooGlemaps{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
}
.GoogleMaps{
  border-radius: 9px;
  height: 400px;
  width: 100%;
  border-top-width: 5px;
  border-left-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 5px;
}
/*fin google maps*/